<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
  </head>  
  <body class="bg-purple-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-2xl font-bold mb-7 text-center">Sign in to your app</h2>
      <form>
        <div class="mb-4">         
          <input type="email" id="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-200" placeholder="Enter your email">
        </div>
        <div class="flex items-center my-4">
          <div class="flex-grow border-t border-purple-300"></div>
          <span class="mx-4 text-purple-700">OR</span>
          <div class="flex-grow border-t border-purple-300"></div>
        </div>
        <div class="mb-7">         
          <input type="tel" id="phone" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-200" placeholder="Enter your phone number">
        </div>
        <button type="submit" id="submitBtn" class="w-full bg-purple-500 text-white py-2 rounded-lg hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-500">Continue</button>
        <div class="flex items-center my-4">
          <div class="flex-grow border-t border-purple-300"></div>
          <span class="mx-4 text-purple-700">OR</span>
          <div class="flex-grow border-t border-purple-300"></div>
        </div>
        <div class="space-y-3 mb-4">
          <button class="w-full mb-4 flex items-center justify-center px-4 py-2 border border-purple-500 rounded-md shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-purple-100">
            <i class="fab fa-google"></i> 
            <span class="ms-3">Continue with Google</span>
          </button>
          <button class="w-full flex items-center justify-center px-4 py-2 border border-purple-500 rounded-md shadow-sm bg-white text-sm font-medium text-gray-700  hover:bg-purple-100">
            <i class="fab fa-github"></i>
            <span class="ms-3">Continue with GitHub</span> 
          </button>
        </div>     
      </form>
    </div>
    <script src="https://kit.fontawesome.com/42241cb19f.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/magic-sdk@28.14.0/dist/magic.min.js"></script>
    <script type="text/javascript">          
      const phoneInputField = document.querySelector("#phone");
      const phoneInput = window.intlTelInput(phoneInputField, {
        initialCountry: "auto",
        separateDialCode: true,
        geoIpLookup: callback => {
            fetch("https://ipapi.co/json")
              .then(res => res.json())
              .then(data => callback(data.country_code))
              .catch(() => callback("us"));
          },       
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
      });

      // Initialize Magic SDK
      const magic = new Magic('pk_live_D211F9C4DBE7EA2D');

      document.getElementById('submitBtn').addEventListener('click', async (event) => {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const phone = phoneInput.getNumber();
        
        let didToken;
        if(email) {
          didToken = await magic.auth.loginWithEmailOTP({ email });
        }else {         
          didToken = await magic.auth.loginWithSMS({ phoneNumber: phone });
        }
        
        // // Send the DID token to your backend for verification
        try {
          const response = await fetch('/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': `Bearer ${didToken}`
            },           
          });

          const data = await response.json();

          if (data.valid) {
            window.location.href = '/profile';
          } else {
            console.error('Login failed');
          }
        } catch (error) {
          console.error('Error:', error);
        }
      });       
    </script>
  </body>
</html>
