<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="flex justify-center items-center h-screen">
      <h1 class="text-4xl font-bold text-red-900">
        Welcome to Express.js with Tailwind CSS!
      </h1>
    </div>
  </body>
</html>
